<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="position:fixed;top:0;left:0; margin:10;">
    Menu
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <nav class="navbar">
        <ul class="navbar-nav mr-auto">
            {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
            {% for nav in navItems %}
            {% if nav.stub %}
            <li class="nav-item {% if page.url == nav.stub %}active{% endif %}">
                <a class="nav-link " href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
            </li>
            {%- else -%}
            <li class="nav-item dropdown">
                {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                {%- assign childStubs = navChildren | map: 'stub' -%}
                <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                <div class="dropdown-menu">
                    {% for c in navChildren %}
                    <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {%- endfor -%}
            <li class="nav-item dropdown">
               
                <a class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Scenes</a>
                <div class="dropdown-menu" id="scenesNavDropdown">
                    
                </div>
            </li>
        </ul>
        
        {% include nav-search-lunr.html %}
        {% include nav-refresh-data.html %}

      </div>
    </div>
  </div>